
.cabecerawb {
    background-color:rgb(240, 235, 232);
}

.nav-enlace{
 display: inline-block;
background-color: rgb(149, 156, 47);
color: beige;
page-break-after: 10px 30px;
text-decoration: none;
font-size: xx-large;
}
.nav-enlace:hover{
background-color: rgb(114, 101, 83);

}
nav{

    background: rgb(230, 205, 62);
    padding:10px ;
}


h1{
   color: rgba(127, 128, 82, 0.685); 
   font-weight: 400;
}
h3{
margin-left: 100px;
    color: darkgreen;
}
p{
    font-weight: 300;
}
.container{
  
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
   
}
.text-center{
    text-align: center;
}